<fieldset style="border-top: 1px dashed lightgrey; padding-top: 15px;">
  <div class="form-group">
    <%= f.hidden_field :_destroy %>
    <%= link_to 'x', '#', class: 'pull-right remove_fields', style: 'color: red;' %>
    <%= f.label :name, 'Имя', class: 'col-md-4 control-label' %>
    <div class="col-md-4">

      <%= f.text_field :name, class:'form-control input-md' %>
    </div>

  </div>
  <div class="form-group">
    <%= f.label :destination, 'Назначение', class: 'col-md-4 control-label' %>
    <div class="col-md-4">
        <%= f.select :destination, ['item', 'price'], {}, { class:'select-picker' } %>
    </div>
  </div>
</fieldset>

<script>
    $(document).ready(function(){
        $('select.select-picker').selectpicker({
            style: 'btn-info',
            size: 4
        });
    });
</script>