<%= form_for @shop, html: {class: 'form-horizontal'} do |f| %>
    <fieldset>

      <!-- Form Name -->
      <legend><i class="fa fa-pencil-square-o"></i> Редактирование магазина</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Имя</label>
        <div class="col-md-4">
          <%= f.text_field :name, class:'form-control input-md', placeholder: 'Название магазина', required: true %>

        </div>
      </div>

      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="url">Адрес</label>
        <div class="col-md-4">

          <%= f.text_field :url, class: 'form-control input-md', placeholder: 'Ссылка', required: true %>

        </div>
      </div>

      <% if @shop.tags.any? %>
        <h4><i class="fa fa-tags"></i> Теги</h4>
      <% end %>
      <%= f.fields_for :tags do |builder| %>
        <%= render 'tag_fields', f: builder %>
      <% end  %>
      <%= link_to_add_fields raw('<i class="fa fa-tag"></i> Добавить тэг'), f, :tags %>
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="login"></label>
        <div class="col-md-4">
          <%= f.submit 'Обновить', class: 'btn btn-primary' %>
        </div>
      </div>

    </fieldset>
<% end %>