<div id="page-head">
    <strong class="pull-left" >Всего: <span class="badge"><%= @shops.count %></span></strong>
    <%= link_to raw('<i class="fa fa-plus"></i> <b>Добавить магазин</b>'), new_shop_path, class: 'pull-right btn btn-primary', data:{no_turbolink: true} %>
</div>
<p class="clearfix"></p>
<hr>
  <table class="table table-hover table-striped datatable">
  <thead>
    <th></th>
    <th>Адрес</th>
    <th>Ссылка поиска</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
      <% @shops.each do |shop| %>
          <tr>
            <td><i class="fa fa-shopping-cart"></i></td>
            <td><%= link_to shop.name, "http://#{shop.name}", target: '_blank' %></td>
            <td><%= shop.url %></td>
            <td>
              <% if !shop.tags.blank? %>
                <i rel="tooltip" data-placement="left" title="<%= "Тэги: " + shop.tags.count.to_s %>" class="fa fa-tags hint"></i>
              <% end %>
            </td>
            <td><%= link_to raw('<i class="fa fa-pencil"></i> ред.'), edit_shop_path(shop), class: 'btn btn-xs btn-info', data:{no_turbolink: true} %> </td>
            <td><%= link_to raw('<i class="fa fa-times"></i>'), shop_path(shop), method: :delete, data: { confirm: 'Удалить?' }, class: 'hint btn btn-xs btn-danger', title: 'Удалить' %> </td>
          </tr>
      <% end %>
  </tbody>
</table>


