<%= form_for @shop, html: {class: 'form-horizontal'} do |f| %>
    <fieldset>

      <!-- Form Name -->
      <legend><i class="fa fa-shopping-cart"></i> Добавить магазин</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Адрес:</label>
        <div class="col-md-4">
          <%= f.text_field :name, class:'form-control input-md', placeholder: 'Название магазина', required: true %>

        </div>
      </div>

      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="url">Ссылка поиска:</label>
        <div class="col-md-4">

          <%= f.text_field :url, class: 'form-control input-md', placeholder: 'Ссылка', required: true %>

        </div>
      </div>

      <% if @shop.tags.any? %>
          <h3>Теги</h3>
      <% end %>
      <%= f.fields_for :tags do |builder| %>
          <%= render 'tag_fields', f: builder %>
      <% end  %>
      <%= link_to_add_fields raw('<i class="fa fa-tag"></i> Добавить тэг'), f, :tags %>
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="login"></label>
        <div class="col-md-4">
          <%= f.submit 'Добавить', class: 'btn btn-primary' %>
        </div>
      </div>

    </fieldset>
<% end %>