<style>
  .chosen-with-drop {
      position: absolute;
      z-index: 1111;
      margin-top: -22px;
      margin-left: 53px;
  }
</style>
<script>
    $(function() {
        $('#r_item').chosen(
                {
                    allow_single_deselect: true,
                    no_results_text: 'No results matched',
                    width: '250px'
                }
        );
    });
</script>
<!-- start accordion -->
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <i class="fa fa-tachometer"></i> время последнего запуска: <span class="label label-info" style="font-size: 90%"><%= @last_run %></span>
          </div> <!--pull-right-->
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <i class="fa fa-cog"></i> <strong>Управление сканированием</strong>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse <%= raw('in') if params.count <= 2 %>">
          <div class="panel-body">
            <%= form_tag proceed_path, { method: :post, class: 'form-inline' } do %>
                <div class="form-group">
                  <%= label_tag :diff, 'Допуск:', class: 'control-label' %>
                  <%= text_field_tag :diff, params[:diff], class: 'form-control', placeholder: '%', required: true, oninvalid: "this.setCustomValidity('Это поле не может быть пустым')" %>
                </div>
                <div class="form-group">
                  <%= label_tag :ex_rate, 'Курс:', class: 'control-label' %>
                  <%= text_field_tag :ex_rate, params[:ex_rate], class: 'form-control', placeholder: 'грн за 1$', required: true, oninvalid: "this.setCustomValidity('Это поле не может быть пустым')" %>
                </div>

                <div class="form-group">
                  <%= label_tag :r_shop,
                                'Магазин:', class: 'control-label' %>
                  <%= select_tag :r_shop,
                                 options_from_collection_for_select(Shop.all,
                                                                    'id',
                                                                    'name',
                                                                    selected: params[:r_shop]),
                                 include_blank: true,
                                 class: 'form-control'%>
                </div>
                <div class="form-group">
                  <%= label_tag :r_item, 'Товар:', class: 'control-label' %>
                  <%= select_tag :r_item, options_from_collection_for_select(Item.all, 'id','sku', selected: params[:r_item]), include_blank: true , class: 'chosen-select', multiple: true  %>
                </div>
                <p></p>
                <div class="form-group">
                  <%= submit_tag 'Сканировать...', name: nil, class: 'btn btn-success' %>
                </div>
            <% end %>
          </div>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <i class="fa fa-filter"></i> <strong>Фильтр результата</strong>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse <%= raw('in') if params.count > 2 %>">
          <div class="panel-body">
            <%= form_tag results_path, { method: :get, class: 'form-inline' } do %>
                <div class="form-group">
                  <%= label_tag :shop,
                                'Магазин:', class: 'control-label' %>
                  <%= select_tag :shop,
                                 options_from_collection_for_select(Shop.where(id: Result.all.collect(&:shop_id)),
                                                                    'id',
                                                                    'name',
                                                                    selected: params[:shop]),
                                 include_blank: true,
                                 class: 'form-control'%>
                </div>
                <div class="form-group">
                  <%= label_tag :item,
                                'Товар:', class: 'control-label' %>
                  <%= select_tag :item,
                                 options_from_collection_for_select(Item.where(id: Result.all.collect(&:item_id)),
                                                                    'id',
                                                                    'sku',
                                                                    selected: params[:item]),
                                 include_blank: true,
                                 class: 'form-control'%>
                </div>
                <div class="form-group">
                  <%= label_tag :brand,
                                'Бренд:', class: 'control-label' %>
                  <%= select_tag :brand, options_for_select(Item::BRANDS, selected: params[:brand]),
                                 include_blank: true,
                                 class: 'form-control'%>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                  <%= submit_tag 'Отфильтровать', name: nil, class: 'btn btn-primary'%>
                </div>
                <div class="form-group">
                  <%= link_to 'Сбросить', results_path, class: 'btn btn-info' %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<!-- end collaps-->

    <hr>
    <!--<h4 class="pull-right">*данные актуальны на: <span class="label label-info"><%=  @last_run %></span></h4>-->
    <h3>Результат сканирования: </h3>


  <!-- Table -->

    <table class="datatable table table-hover table-bordered table-striped">
      <thead>
          <tr>
            <th>Артикул</th>
            <th class="hidden-xs">Название товара</th>
            <th class="hidden-xs">Бренд</th>
            <th>Магазин</th>
            <th>Рекомендуемая цена</th>
            <th>Цена в магазине</th>
            <th class="hidden-xs">Отклонение</th>
          </tr>
      </thead>
      <tbody>
          <% @results.each do |result| %>
            <% diff = (((result.item.price*result.ex_rate - result.current_price).to_f/(result.item.price*result.ex_rate).to_f)*100) if result.current_price %>
              <tr <%= raw('class="danger"') if (!result.price_diff.nil? && diff > result.price_diff)  if !diff.nil?%> >
                <td><%= result.item.sku %></td>
                <td class="hidden-xs"><%= result.item.name %></td>
                <td class="hidden-xs"><%= result.item.brand %></td>
                <td><%= link_to result.shop.name, "http://#{result.shop.name}", target: '_blank' %></td>
                <td><%= (result.item.price * result.ex_rate).round(2) %><span class="hint" data-placement="right" title="Курс $: <%= result.ex_rate %>"> грн.</span></td>
                <% if result.current_price %>
                    <td> <%= result.current_price.round(2) %> грн.</td>
                <% else %>
                    <td> - </td>
                <% end %>
                <% if !diff.nil? and result.price_diff and diff >= 0 %>
                    <td class="hidden-xs"><%= diff.round(2) %>%</td>
                <% else %>
                    <td class="hidden-xs"> - </td>
                <% end %>
              </tr>

          <% end %>
      </tbody>
    </table>

<%= link_to 'Экспорт в XLS', results_path(format: 'xls'), class: 'btn btn-primary' %>
