<%= form_for @item, html: {class: 'form-horizontal'} do |f| %>
    <fieldset>

      <!-- Form Name -->
      <legend>Редактирование товара</legend>

      <!-- Brand input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Бренд</label>
        <div class="col-md-4">
          <%= f.select :brand, Item::BRANDS, {}, selected: @item.brand, include_blank: true, class:'form-control input-md', required: true %>
        </div>
      </div>

      <!-- SKU input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Артикул</label>
        <div class="col-md-4">
          <%= f.text_field :sku, class:'form-control input-md', placeholder: 'Артикул / Парт. номер', required: true %>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Название</label>
        <div class="col-md-4">
          <%= f.text_field :name, class:'form-control input-md', placeholder: 'Название товара', required: true %>

        </div>
      </div>

      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="price">Цена</label>
        <div class="col-md-4">

          <%= f.text_field :price, class: 'form-control input-md', placeholder: 'Цена в долларах', required: true %>

        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="login"></label>
        <div class="col-md-4">
          <%= f.submit 'Обновить', class: 'btn btn-primary' %>
        </div>
      </div>

    </fieldset>
<% end %>