<strong class="pull-left" >Всего: <span class="badge"><%= @items.count %></span></strong>
<%= link_to raw('<i class="fa fa-plus"></i> <b>Добавить товар</b>'), new_item_path ,class: 'pull-right btn btn-primary' %>
<table class="table table-hover table-striped">
  <thead>
    <th>#</th>
    <th>Название</th>
    <th>Рекомендованная цена</th>
    <th></th>

  </thead>
  <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.price %>$</td>
        <td><%= link_to raw('<i class="fa fa-pencil"></i> ред.'), edit_item_path(item), class: 'btn btn-xs btn-info' %>
            <%= link_to raw('<i class="fa fa-times"></i>'), item_path(item), method: :delete, confirm: 'Удалить?', class: 'hint btn btn-xs btn-danger', title: 'Удалить' %>
        </td>
      </tr>
  <% end %>
</table>

